@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    color: #e6e6e6;
    font-family: 'Open Sans', sans-serif;

}

header {
    overflow: hidden;
    padding: 10% 8% 2%;
    position: relative;
}

ul {
    margin-top: -10px;
}

li {
    list-style: none;
    font-size: 8px;
    font-weight: 400;  
}

footer {
    color: #e6e6e6;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 2%;
    text-align: center;
}

/* Style list for Header*/

.logo {
    float: left;
}

.logo > p {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.background-logo {
    position: absolute;
    right: 70%;
    bottom: 0px;
    height: 60%;
}

.contact {
    float: right;
}

.contact > p {
    font-size: 10px;
    font-weight: bold;
    padding-left: 30%;
    margin: 10% auto;
}

/* Style list for Gallery*/

.country-card {
    float: left;
    margin: 0 7%;
    padding: 5px 7px;
}

.country-card > img {
    border: 2px solid black;
    outline: 3px solid gray;
}

.country-card > p {
    text-align: center;
    color: #e6e6e6;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
}

.clear-fix {
    clear: both;
}